<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add User</h1>
    <form action="/add_user" method="POST">
        <p>First Name:
        <input type="text" name="first_name"></p>
        <p>Middle Name:
        <input type="text" name="middle_name"></p>
        <p>Last Name:
        <input type="text" name="last_name"></p>
        <p>Email:
        <input type="email" name="email"></p><br>
        <input type="submit" value="add user">
    </form>

    <h1>Current Users</h1>
    {%for user in users%}
    <p>{{user.first_name}} {{user.last_name}} <a href="/delete_user/{{user.id}}">delete</a> <a href="/edit_user/{{user.id}}">edit</a> </p>
    {%endfor%}
</body>
</html>